.file_list {
    list-style: none;
}

.fl-item-wrapper {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #EAEAEA;
    font-size: 13px;
    height: 50px;
    margin-top: -1px;
    width: 100%;
    color: #494949;
    position: relative;
    line-height: 50px;
    cursor: pointer;
}

.fl-item-wrapper:hover {
    background: rgba(232, 243, 250, .4);
    border-bottom: 1px solid rgba(190, 212, 222, .4);
    border-top: 1px solid rgba(190, 212, 222, .4);
}

.fl-item-wrapper.active {
    background: rgba(232, 243, 250, 1);
    border-bottom: 1px solid rgba(190, 212, 222, 1);
    border-top: 1px solid rgba(190, 212, 222, 1);
}

.fl-item-wrapper.active:before {
    background: #bbb;
    bottom: -1px;
    content: "";
    left: 0;
    position: absolute;
    top: -1px;
    width: 2px;
}

.fl-item-row {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity .25s;
    color: #767676;
}

.fl-item-row:hover {
    color: #1A5976;
    font-weight: 400;
}

.fl-item-size,
.fl-item-updated {
    -webkit-flex: 1 0 10px;
    flex: 1 0 10px;
    margin: 0 10px;
    min-width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fl-item-icon-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0;
    flex: 0;
    -webkit-flex-basis: 50px;
    flex-basis: 50px;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 50px;
    text-align: center;
    width: 50px;
    position: relative;
}

.fl-item-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 25px;
    margin: 10px;
}

.fl-item-resize-handle {
    flex: none;
    width: 5px;
    background: #3f51b50d;
}

.fl-item-resize-handle.is-resize-active:before {
    border-left: 1px solid #1992DE;
    content: "";
    height: 100%;
    left: 2px;
    opacity: .25;
    position: absolute;
    visibility: hidden;
}

.fl-item-name {
    flex: 1 1 70%;
    display: flex;
    margin-right: 10px;
    min-width: 150px;
    width: 38.7363%;
    flex-basis: 38.7363%;
}

.fl-item-updated {
    flex: 1 1 27%;
    min-width: 120px;
    width: 40.8979%;
    flex-basis: 40.8979%;
}

.fl-item-size {
    flex: 0 0 15%;
    min-width: 180px;
}